:root {
    --gradient: radial-gradient(96.01% 189.86% at 0% 10.6%, #FCE87F 0%, rgba(254, 187, 178, 0.81) 37.56%, rgba(241, 159, 189, 0.694337) 44.54%, rgba(228, 129, 224, 0.57) 53.72%, rgba(158, 122, 221, 0.62) 71.31%, rgba(132, 84, 234, 0.481681) 77.46%, rgba(49, 57, 250, 0.57) 100%);
    
    --result-margin-left: 4vw;
    
    /* fonts */
    --emphasis: 'Space Mono', monospace;
}

* {
    font-family: 'Work Sans', sans-serif;
}

body {
    background-image: var(--gradient);
    background-size: 400%;
    animation: bg-animation 25s infinite alternate;
}

@keyframes bg-animation {
    0% {
        background-position: left;
    }
    50% {
        background-position: center;
    }
    100% {
        background-position: right top;
    }
}

header, main {
    /* border: 1px solid red; */
    min-height: 100vh;
    padding: 2%;
}

/* header */
header {
    background-color: rgba(254, 254, 250, 0.5);
    border-radius: 0 2.5vw 2.5vw 0;
    padding: 2.5vw;
}

header #title img {
    height: 5.5vw;
}

header #title #logo {
    margin-top: -2.75vw;
    font-family: var(--emphasis);
    font-size: 5vw;
    font-weight: 700;
}

header #title #current-date {
    margin-top: -1vw;
    font-size: 2.5vw;
    font-weight: 400;
    text-align: end;
}

/* form */
header #search-form {
    /* border: 1px solid cyan; */
    margin-top: 6vw;
}

header #search-form .tell-me {
    margin-bottom: 1vw;
    font-weight: 500;
    font-size: 1.85vw;
}

header #search-form #input-location {
    width: 100%;
    margin-bottom: 1vw;
    padding: 0.25vw;
    border: 2px solid black;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: transparent;
    font-family: var(--emphasis);
    font-size: 1.75vw;
    font-weight: bold;
    font-style: italic;
    text-align: center;
}

header #search-form #input-location::placeholder {
    color: black;
}

header #search-form #input-location:focus {
    outline: none;
}

header #search-form .contain-in {
    height: 4vw;
}

header #search-form select {
    width: 100%;
    appearance: none;
    background-color: transparent;
    border-bottom: 2px solid black;
    border-top: none;
    border-left: none;
    border-right: none;
    padding: 0.25vw;
    margin: 0;
    font-family: var(--emphasis);
    font-size: 1.75vw;
    font-weight: bold;
    font-style: italic;
    text-align: center;
}

header #search-form select:focus {
    outline: none;
}

header #search-btn {
    margin-top: 2vw;
    display: block;
    width: 100%;
    padding: 0.25vw;
    border: 2px solid black;
    background-color: black;
    color: white;
    font-family: var(--emphasis);
    font-size: 1.75vw;
    font-weight: bold;
    font-style: italic;
    text-align: center;
}

header #search-btn:hover {
    background-color: transparent;
    color: black;
}

/* past searches */
header #search-history {
    /* border: 1px solid magenta; */
    margin-top: 6vw;
}

header #search-history h3 {
    font-size: 2.75vw;
    font-weight: 600;
}

header #search-history #search-list {
    margin-top: -1vw;
    border: 2px solid black;
    padding: 0.75vw;
    height: 21vw;
    border-radius: 0 0 2.5vw 0;
    overflow: hidden;
}

header #search-history #search-list:hover {
    overflow-y: auto;
}

header #search-history #search-list .past-search {
    display: block;
    width: 100%;
    margin-bottom: 0.5vw;
    border: 2px solid black;
    padding: 0.25vw;
    background-color: transparent;
    font-family: var(--emphasis);
    font-size: 1.75vw;
    font-weight: bold;
    font-style: italic;
}

header #search-history #search-list .past-search:hover {
    background-color: black;
    color: white;
}


/* results */
#result-success, #invalid-msg {
    display: none;
}

#search-results #result-success #city,
#search-results #invalid-msg #error {
    margin-left: var(--result-margin-left);
    margin-top: 6vw;
    font-family: var(--emphasis);
    font-size: 7.5vw;
    text-transform: uppercase;
    letter-spacing: 0.5vw;
}

#search-results h3 {
    margin-left: var(--result-margin-left);
    margin-top: -2.5vw;
    font-size: 4.5vw;
    font-style: italic;
    font-weight: 400;
}

#search-results h3 #local-time {
    font-style: normal;
}

/* current weather */
#current-weather {
    margin-left: var(--result-margin-left);
    margin-top: -0.5vw;
    border: 2px solid black;
    width: 85%;
    height: 14vw;
}

#current-weather td {
    border: 2px solid black;
    width: 25%;
    padding: 1%;
}

#current-weather #current-icon {
    height: 75%;
    margin: -2vw -1vw;
}

#current-weather .current-header {
    margin: 0.5vw 0 0 0.5vw;
    font-size: 2vw;
}

#current-weather .current-stats {
    margin-right: 0.25vw;
    margin-bottom: -1vw;
    font-family: var(--emphasis);
    font-weight: bold;
    font-style: italic;
    font-size: 3.85vw;
    text-align: end;
}
#current-weather #current-temp {
    margin-bottom: -0.25vw;
}

#current-weather #current-wind {
    margin-bottom: -0.5vw;
    font-size: 2.5vw;
    white-space: nowrap;
}

/* 5-day forecast */
#fiveday-forecast {
    margin-top: 4.5vw;
}

#fiveday-forecast .five-day-heading {
    margin-left: var(--result-margin-left);
    font-size: 3.25vw;
    font-weight: 600;
}

#fiveday-forecast #five-day {
    margin-left: var(--result-margin-left);
    margin-top: -0.25vw;
    width: 85%;
    height: 15vw;
}

#fiveday-forecast #five-day .custom-card {
    padding: 0;
    border: 2px solid black;
}

#fiveday-forecast #five-day .custom-card .custom-card-header {
    background-color: black;
    color: white;
}

#fiveday-forecast #five-day .custom-card .custom-card-header .fiveday-date {
    text-align: center;
    font-family: var(--emphasis);
    font-weight: bold;
    font-style: italic;
    font-size: 1.25vw;
}

#fiveday-forecast #five-day .custom-card .fiveday-tempbox {
    border-bottom: 2px solid black;
}

#fiveday-forecast #five-day .custom-card .fiveday-tempbox .fiveday-icon {
    display: block;
    margin: -0.75vw auto;
}

#fiveday-forecast #five-day .custom-card .fiveday-tempbox h5 {
    margin-top: -1.25vw;
    text-align: center;
    font-family: var(--emphasis);
    font-weight: bold;
    font-style: italic;
    font-size: 2.5vw;
}

#fiveday-forecast #five-day .custom-card .custom-card-body {
    padding: 0.25vw;
}

#fiveday-forecast #five-day .custom-card .custom-card-body ul {
    display: block;
    margin: 0;
    font-weight: 500;
    font-size: 1.15vw;
}